@charset "utf-8";
main{overflow: hidden;}
#wrap{min-width: 1920px;}
#intro_wrap .intro_box{display: flex;}
#intro_wrap .intro_box .intro_left,
#intro_wrap .intro_box .intro_right{height: 100vh;}
#intro_wrap .intro_box .intro_left{flex-shrink: 0; position: relative; width: 470px; background: #fff;}
#intro_wrap .intro_box .intro_left .box{position: absolute; top: 37.8%; left: 108px; bottom: 0;}
#intro_wrap .intro_box .intro_left .tit h1{margin-bottom: 30px;}
#intro_wrap .intro_box .intro_left .tit h1 img{display: block;}
#intro_wrap .intro_box .intro_left .tit p{margin-bottom: 68px;}
#intro_wrap .intro_box .intro_left .tit p img{display: block;}
#intro_wrap .intro_box .intro_left .link{animation-delay: .2s;}
#intro_wrap .intro_box .intro_left .link li{margin-bottom: 19px;}
#intro_wrap .intro_box .intro_left .link li a{display: inline-block; position: relative; padding-left: 42px; font-family: 'SourceHanSansKR'; font-weight: 700; color: #111; font-size: 14px;}
#intro_wrap .intro_box .intro_left .link li a:hover::before{transform: translateY(-65%);}
#intro_wrap .intro_box .intro_left .link li a::before{content: ''; padding: 30px 30px 0 0; position: absolute; top: 50%; transform: translateY(-50%); left:0; transition: all .3s;}
#intro_wrap .intro_box .intro_left .link li:nth-child(1) a::before{background: url(../images/intro/icon1.png)no-repeat;}
#intro_wrap .intro_box .intro_left .link li:nth-child(2) a::before{background: url(../images/intro/icon2.png)no-repeat;}
#intro_wrap .intro_box .intro_left .link li:nth-child(3) a::before{background: url(../images/intro/icon3.png)no-repeat;}
#intro_wrap .intro_box .intro_left .link li:nth-child(4) a::before{background: url(../images/intro/icon4.png)no-repeat;}
#intro_wrap .intro_box .intro_left span{position: absolute; left:0; bottom: 87px; animation-delay: .3s;}
#intro_wrap .intro_box .intro_left span img{display: block;}
#intro_wrap .intro_box .intro_right{position: relative; flex: 1;}
#intro_wrap .intro_box .intro_right .intro_link{position: absolute; top:0; left:0; right:0; bottom: 0; display: flex; z-index: 9;}
#intro_wrap .intro_box .intro_right .intro_link > li{position: relative; flex: 1;}
#intro_wrap .intro_box .intro_right .intro_link > li:nth-child(1){animation-delay: .4s;}
#intro_wrap .intro_box .intro_right .intro_link > li:nth-child(2){animation-delay: .5s;}
#intro_wrap .intro_box .intro_right .intro_link > li:nth-child(3){animation-delay: .6s;}
#intro_wrap .intro_box .intro_right .intro_link > li:nth-child(4){animation-delay: .7s;}
#intro_wrap .intro_box .intro_right .intro_link > li:nth-child(5){animation-delay: .7s;}
#intro_wrap .intro_box .intro_right .intro_link > li{padding: 25% 0 0; height: 100%; border-right: 1px solid rgba(255,255,255,23%);}
#intro_wrap .intro_box .intro_right .intro_link li h2{margin-bottom: 36px;}
#intro_wrap .intro_box .intro_right .intro_link li h2 img{display: block; margin: 0 auto;}
#intro_wrap .intro_box .intro_right .intro_link li span img{display: block; margin: 0 auto;}
#intro_wrap .intro_box .intro_right .intro_link li .link_tit{position: relative;}
#intro_wrap .intro_box .intro_right .intro_link li .link_tit::after{content: ''; position: absolute; left: 50%; transform: translateX(-50%); bottom: -48px; padding: 10px 18px 0 0; background: url(../images/intro/arrow.png)no-repeat;}
#intro_wrap .intro_box .intro_right .intro_main{position: absolute; top:0; left:0; right:0; bottom: 0; overflow: hidden;}
#intro_wrap .intro_box .intro_right .intro_main img{display: block; width: 100%; height: 100%; object-fit: cover; transition: all 1.7s; clip-path: inset(0px 100% 0px 0px);}
#intro_wrap .intro_box .intro_right .intro_main.active img{clip-path: inset(0);}
#intro_wrap .intro_box .intro_right .intro_link li .hover_img{opacity: 0; position: absolute; top:0; left:0; right:0; bottom: 0;}
#intro_wrap .intro_box .intro_right .intro_link li .hover{opacity: 0; padding: 125.5% 0 0; position: absolute; top:0; left:0; right:0; bottom: 0; background-color: rgba(0,0,0,.5); transition: all .5s;}
#intro_wrap .intro_box .intro_right .intro_link li .hover.active{opacity: 1;}
#intro_wrap .intro_box .intro_right .intro_link li .hover > a{position: relative; display: block; width: 165px; height: 55px; line-height: 55px; margin: 0 auto 58px; border: 2px solid #5f5f5f; font-weight: 500; color: #fff; text-align: center; font-family: 'GmarketSans';}
#intro_wrap .intro_box .intro_right .intro_link li .hover > a::before{content: ''; position: absolute; top:0; left:0; bottom: 0; width: 0; background-color: #000; z-index: -1; transition: all .3s;}
#intro_wrap .intro_box .intro_right .intro_link li .hover > a:hover::before{width: 100%;}
#intro_wrap .intro_box .intro_right .intro_link li .hover .intro_depth1 li{margin-bottom: 32px;}
#intro_wrap .intro_box .intro_right .intro_link li .hover .intro_depth1 li a{display: block; font-weight: 500; color: #fff; font-size: 19px; text-align: center; transition: all .3s; font-family: 'GmarketSans';}
#intro_wrap .intro_box .intro_right .intro_link li .hover .intro_depth1 li a:hover{transform: translateX(10px);}

#intro_wrap .intro_box .intro_right .intro_hover{position: absolute; top:0; left:0; right:0; bottom: 0;}
#intro_wrap .intro_box .intro_right .intro_hover .hover_img{opacity: 0; position: absolute; top:0; left:0; right:0; bottom: 0; height: 100%; transition: all .5s;}
#intro_wrap .intro_box .intro_right .intro_hover .hover_img.active{opacity: 1;}
#intro_wrap .intro_box .intro_right .intro_hover .hover_img:nth-child(1){background: url(../images/intro/hover_img1.jpg)no-repeat; background-size: cover;}
#intro_wrap .intro_box .intro_right .intro_hover .hover_img:nth-child(2){background: url(../images/intro/surgery_img01.jpg)no-repeat; background-size: cover;}
#intro_wrap .intro_box .intro_right .intro_hover .hover_img:nth-child(3){background: url(../images/intro/joint_img.jpg)no-repeat; background-size: cover;}
#intro_wrap .intro_box .intro_right .intro_hover .hover_img:nth-child(4){background: url(../images/intro/medicine_img.jpg)no-repeat; background-size: cover;}
#intro_wrap .intro_box .intro_right .intro_hover .hover_img:nth-child(5){background: url(../images/intro/skin_img.jpg)no-repeat; background-size: cover;}

.op_effect{animation: op_effect 1s both;}

@keyframes op_effect{

    0%{opacity: 0; transform: translateY(70px);}
    100%{opacity: 1; transform: translateY(0);}

}